docs/n8n/workflow_problem_launch_notifier.json
{
  "name": "Problem Launch Notifier",
  "nodes": [
    {
      "parameters": {
        "width": 500,
        "height": 160,
        "content": "## 1. Problem Detection Webhook\nTriggered by backend when a problem is detected or promoted.\n**POST** `/webhook/problem-detected`\nExpected body: `{ problem_id, title, affected_tickets_count, priority }`"
      },
      "id": "note-webhook",
      "name": "Note: Webhook",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        60
      ]
    },
    {
      "parameters": {
        "path": "problem-detected",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Problem Detected Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "// Safely extract and validate inbound webhook payload\nconst body = $json.body || $json || {};\nconst problemId = body.problem_id;\nconst traceId = body.trace_id || `prb-${Date.now()}-${Math.random().toString(36).slice(2, 8)}`;\nconst runId = $execution?.id ? String($execution.id) : `manual-${Date.now()}`;\n\nif (!problemId) {\n  return [{ json: { route: 'error', stage: 'validate_inbound', error: 'missing_problem_id', trace_id: traceId, run_id: runId, raw: body } }];\n}\n\nreturn [{\n  json: {\n    route: 'ok',\n    stage: 'validate_inbound',\n    trace_id: traceId,\n    run_id: runId,\n    problem_id: String(problemId),\n    title: body.title || 'Unknown Problem',\n    priority: body.priority || body.severity || 'high',\n    affected_tickets_count: body.affected_tickets_count || 0\n  }\n}];"
      },
      "id": "validate-inbound",
      "name": "Validate Inbound Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.route }}",
              "operation": "equals",
              "value2": "ok"
            }
          ]
        }
      },
      "id": "check-inbound-valid",
      "name": "Payload Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        260
      ]
    },
    {
      "parameters": {
        "width": 460,
        "height": 140,
        "content": "## 2. Enrich from Backend\nFetch full problem details from FastAPI.\nStores inbound data in a Set node before the HTTP call so context is never lost."
      },
      "id": "note-enrich",
      "name": "Note: Enrich",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        60
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "problem_id",
              "value": "={{ $json.problem_id }}",
              "type": "string"
            },
            {
              "id": "a1b",
              "name": "trace_id",
              "value": "={{ $json.trace_id }}",
              "type": "string"
            },
            {
              "id": "a1c",
              "name": "run_id",
              "value": "={{ $json.run_id }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "inbound_title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "inbound_priority",
              "value": "={{ $json.priority }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "inbound_affected_count",
              "value": "={{ $json.affected_tickets_count }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "set-inbound-context",
      "name": "Store Inbound Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        260
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ ($env.ITSM_BASE_URL || 'http://host.docker.internal:8000') + '/api/problems/' + $json.problem_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Automation-Secret",
              "value": "={{ $env.AUTOMATION_SECRET }}"
            },
            {
              "name": "X-Actor",
              "value": "system:n8n"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "X-Trace-Id",
              "value": "={{ $json.trace_id }}"
            },
            {
              "name": "X-Workflow-Run-Id",
              "value": "={{ $json.run_id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-problem",
      "name": "Fetch Problem from Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        260
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Merge inbound context with enriched backend data\n// Problem model has no dedicated description field\n\nconst ctx = $node['Store Inbound Context'].json;\nconst detail = $json || {};\n\nif (detail.error || detail.statusCode >= 400) {\n  return [{ json: { route: 'error', stage: 'fetch_problem', trace_id: ctx.trace_id, run_id: ctx.run_id, error: detail.error || 'backend_fetch_failed', status: detail.statusCode } }];\n}\n\nconst problemId = ctx.problem_id;\nconst uiBase = $env.FRONTEND_BASE_URL || 'http://localhost:3000';\n\nreturn [{\n  json: {\n    route: 'ok',\n    stage: 'merge_enriched',\n    trace_id: ctx.trace_id,\n    run_id: ctx.run_id,\n    problem_id: problemId,\n    title: detail.title || ctx.inbound_title || 'Problem Detected',\n    priority: detail.priority || ctx.inbound_priority || detail.severity || 'high',\n    status: detail.status || 'open',\n    affected_tickets_count: detail.affected_tickets_count ?? ctx.inbound_affected_count ?? 0,\n    root_cause: detail.root_cause || 'Under investigation',\n    workaround: detail.workaround || 'None yet',\n    permanent_fix: detail.permanent_fix || 'None yet',\n    created_at: detail.created_at || new Date().toISOString(),\n    problem_url: `${uiBase}/problems/${problemId}`,\n    raw_detail: detail\n  }\n}];"
      },
      "id": "merge-and-validate",
      "name": "Merge & Validate Enriched Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.route }}",
              "operation": "equals",
              "value2": "ok"
            }
          ]
        }
      },
      "id": "check-enrich-valid",
      "name": "Enrichment OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1660,
        260
      ]
    },
    {
      "parameters": {
        "width": 460,
        "height": 140,
        "content": "## 3. Email Notification\nSends a structured plain-text email to the problem response team.\nSMTP config via n8n credentials \u2014 set PROBLEM_ALERT_EMAIL_TO in n8n env."
      },
      "id": "note-email",
      "name": "Note: Email",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1840,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst rawPriority = d.priority || d.raw_detail?.priority || d.inbound_priority || d.raw_detail?.severity || 'high';\nconst pri = String(rawPriority).trim() || 'high';\nconst tickets = Array.isArray(d.raw_detail?.tickets) ? d.raw_detail.tickets : [];\nconst topTickets = tickets.slice(0, 3).map(t => t.title).filter(Boolean);\n\nconst summaryBits = [];\nsummaryBits.push(`${d.title || 'Problem detected'} is currently ${d.status || 'open'}.`);\nsummaryBits.push(`Impact priority is ${pri.toUpperCase()} with ${d.affected_tickets_count ?? tickets.length ?? 0} related ticket(s).`);\nif (topTickets.length) summaryBits.push(`Representative impacted tickets include: ${topTickets.join('; ')}.`);\nsummaryBits.push(d.root_cause && d.root_cause !== 'Under investigation' ? `Likely root cause: ${d.root_cause}.` : 'Root cause is still under investigation.');\nif (d.workaround && d.workaround !== 'None yet.') summaryBits.push(`Current workaround: ${d.workaround}.`);\nif (d.permanent_fix && d.permanent_fix !== 'None yet.') summaryBits.push(`Planned permanent fix: ${d.permanent_fix}.`);\n\nconst generatedSummary = summaryBits.join(' ');\nconst subject = `[ITSM Problem] ${pri.toUpperCase()} - ${d.title || 'Problem Detected'}`;\nconst body = `Problem ${d.problem_id || 'N/A'} has been flagged for response. The issue titled \"${d.title || 'N/A'}\" is currently \"${d.status || 'open'}\" with priority \"${pri.toUpperCase()}\" and currently affects ${d.affected_tickets_count ?? 0} ticket(s). Detailed summary: ${generatedSummary} Detection time: ${d.created_at || new Date().toISOString()}. Open the problem record here: ${d.problem_url || 'N/A'}. Trace reference: ${d.trace_id || 'N/A'}; workflow run: ${d.run_id || 'N/A'}. Source: system:n8n.`;\n\nreturn [{ json: { ...d, stage: 'build_email', priority: pri, email_subject: subject, email_body: body, generated_summary: generatedSummary } }];"
      },
      "id": "build-email-content",
      "name": "Build Email Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        260
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM }}",
        "toEmail": "={{ $env.PROBLEM_ALERT_EMAIL_TO }}",
        "subject": "={{ $json.email_subject }}",
        "emailType": "text",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Problem Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2060,
        260
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$json.error || (!!$json.rejected && $json.rejected.length > 0 && (!$json.accepted || $json.accepted.length === 0)) }}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "check-email-sent",
      "name": "Email Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2140,
        260
      ]
    },
    {
      "parameters": {
        "width": 460,
        "height": 120,
        "content": "## 4. Error Handling\nAll failure paths converge here. Errors are logged to console for n8n execution logs."
      },
      "id": "note-error",
      "name": "Note: Error",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        700,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = {\n  workflow: 'Problem Launch Notifier',\n  timestamp: new Date().toISOString(),\n  stage: $json.stage || 'unknown',\n  trace_id: $json.trace_id || 'N/A',\n  run_id: $json.run_id || 'N/A',\n  route: 'error',\n  error: $json.error || $json.message || JSON.stringify($json)\n};\nconsole.error('[n8n][problem-notifier][error]', JSON.stringify(payload));\nreturn [{ json: payload }];"
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.ITSM_BASE_URL || 'http://host.docker.internal:8000') + '/api/notifications' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Automation-Secret",
              "value": "={{ $env.AUTOMATION_SECRET }}"
            },
            {
              "name": "X-Actor",
              "value": "system:n8n"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { problem_id: $json.problem_id, type: 'problem', title: 'Problem Detected', body: $json.generated_summary || $json.title || ('Problem ' + $json.problem_id), severity: 'critical', link: '/problems/' + $json.problem_id, source: 'n8n' } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "problem-create-notification",
      "name": "Create In-App Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        260
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const payload = {\n  workflow: 'Problem Launch Notifier',\n  timestamp: new Date().toISOString(),\n  stage: 'email_sent',\n  route: 'ok',\n  trace_id: $json.trace_id || 'N/A',\n  run_id: $json.run_id || 'N/A',\n  problem_id: $json.problem_id || 'N/A',\n  email_to: $env.PROBLEM_ALERT_EMAIL_TO || 'N/A',\n  message_id: $json.messageId || null\n};\nconsole.log('[n8n][problem-notifier][success]', JSON.stringify(payload));\nreturn [{ json: payload }];"
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2360,
        360
      ]
    }
  ],
  "connections": {
    "Problem Detected Webhook": {
      "main": [
        [
          {
            "node": "Validate Inbound Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Inbound Payload": {
      "main": [
        [
          {
            "node": "Payload Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload Valid?": {
      "main": [
        [
          {
            "node": "Store Inbound Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Inbound Context": {
      "main": [
        [
          {
            "node": "Fetch Problem from Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Problem from Backend": {
      "main": [
        [
          {
            "node": "Merge & Validate Enriched Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge & Validate Enriched Data": {
      "main": [
        [
          {
            "node": "Enrichment OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrichment OK?": {
      "main": [
        [
          {
            "node": "Build Email Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Content": {
      "main": [
        [
          {
            "node": "Send Problem Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Problem Email": {
      "main": [
        [
          {
            "node": "Email Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Failed?": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create In-App Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create In-App Notification": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "2",
  "id": "workflow_problem_launch_notifier",
  "tags": [
    "itsm",
    "problems",
    "notifications"
  ]
}


