docs/n8n/workflow_sla_breach_alerting.json
{
  "name": "SLA Breach Alerting",
  "nodes": [
    {
      "parameters": {
        "width": 420,
        "height": 220,
        "content": "## Trigger and SLA Sync\nRuns every 15 minutes and calls backend SLA batch sync before alert fan-out."
      },
      "id": "sla-note-trigger",
      "name": "Sticky Trigger",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        140,
        80
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        }
      },
      "id": "sla-cron",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        220,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.ITSM_BASE_URL + '/api/sla/run'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Automation-Secret",
              "value": "={{$env.N8N_INBOUND_SECRET}}"
            },
            {
              "name": "X-Actor",
              "value": "system:n8n"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"dry_run\": false } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "sla-run",
      "name": "Run SLA Sync Batch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        260
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.error !== undefined}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "sla-run-error-check",
      "name": "SLA Run Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        260
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.ITSM_BASE_URL + '/api/tickets'}}",
        "sendQuery": false,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Automation-Secret",
              "value": "={{$env.N8N_INBOUND_SECRET}}"
            },
            {
              "name": "X-Actor",
              "value": "system:n8n"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "sla-fetch-tickets",
      "name": "Fetch Breached or At-Risk Tickets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        340
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.error !== undefined}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "sla-fetch-error-check",
      "name": "Ticket Fetch Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1180,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json;\nconst rows = Array.isArray(payload)\n  ? payload\n  : Array.isArray(payload.items)\n    ? payload.items\n    : Array.isArray(payload.tickets)\n      ? payload.tickets\n      : [];\n\nconst filtered = rows.filter((ticket) => {\n  const status = String(ticket?.sla_status || '').trim().toLowerCase();\n  return status === 'breached' || status === 'at_risk';\n});\n\nreturn filtered.map((ticket) => ({ json: ticket }));"
      },
      "id": "sla-normalize",
      "name": "Normalize Ticket Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        420
      ]
    },
    {
      "parameters": {
        "width": 600,
        "height": 260,
        "content": "## Alert Fan-out\nFor each SLA-risk ticket, send Email notifications and a best-effort Microsoft Teams alert."
      },
      "id": "sla-note-alert",
      "name": "Sticky Alerts",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1540,
        80
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.SMTP_FROM}}",
        "toEmail": "={{$env.SLA_ALERT_EMAIL_TO}}",
        "subject": "=[ITSM][SLA] {{$json.id || $json.ticket_id || 'Ticket'}} {{$json.sla_status || 'at_risk'}}",
        "emailType": "text",
        "message": "=SLA alert for ticket {{$json.id || $json.ticket_id || 'N/A'}}: \"{{$json.title || 'N/A'}}\" is currently in status \"{{$json.status || 'N/A'}}\" with priority \"{{$json.priority || 'N/A'}}\" and SLA state \"{{$json.sla_status || 'N/A'}}\". Remaining SLA time is {{$json.sla_remaining_human || ($json.sla_remaining_minutes !== undefined ? ($json.sla_remaining_minutes + ' minute(s)') : ($json.sla_due_at ? ('until ' + $json.sla_due_at) : 'N/A'))}}. Assigned owner: {{$json.assignee || 'Unassigned'}}. Context summary: {{$json.description || $json.summary || $json.body || 'N/A'}}. Source: n8n SLA Breach Alerting workflow."
      },
      "id": "sla-email",
      "name": "Send SLA Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1660,
        360
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.error !== undefined}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "sla-email-error-check",
      "name": "Email Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1880,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TEAMS_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const ticketId = $json.id || $json.ticket_id || 'N/A'; const priority = String($json.priority || 'Normal').trim(); const slaState = String($json.sla_status || 'unknown').trim(); const title = $json.title || 'Untitled ticket'; const status = $json.status || 'N/A'; const assignee = $json.assignee || 'Unassigned'; const ticketUrl = $json.ticket_url || (($env.FRONTEND_BASE_URL || 'http://localhost:3000') + '/tickets/' + ticketId); const severity = slaState === 'breached' || priority.toLowerCase() === 'critical' ? 'Critical' : 'High'; const themeColor = severity === 'Critical' ? 'C62828' : 'EF6C00'; const slaInfo = $json.sla_remaining_human || ($json.sla_remaining_minutes !== undefined ? ($json.sla_remaining_minutes + ' minute(s)') : ($json.sla_due_at ? ('until ' + $json.sla_due_at) : 'Not available')); return { '@type': 'MessageCard', '@context': 'https://schema.org/extensions', summary: `ITSM SLA alert - ${ticketId}`, themeColor, title: `${severity} SLA ${slaState === 'breached' ? 'Breach' : 'Risk'} Ticket`, sections: [{ activityTitle: `${ticketId} - ${title}`, text: `[Open ticket](${ticketUrl})`, facts: [{ name: 'Ticket', value: ticketId }, { name: 'Status', value: status }, { name: 'Priority', value: priority || 'N/A' }, { name: 'Assignee', value: assignee }, { name: 'SLA State', value: slaState || 'unknown' }, { name: 'SLA Info', value: slaInfo }], markdown: true }], potentialAction: [{ '@type': 'OpenUri', 'name': 'Open Ticket', targets: [{ os: 'default', uri: ticketUrl }] }] }; })() }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "sla-teams",
      "name": "Send SLA Teams Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2120,
        440
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const payload = {\n  workflow: 'SLA Breach Alerting',\n  channel: 'teams',\n  timestamp: new Date().toISOString(),\n  route: $json.error ? 'error' : 'ok',\n  status: $json.statusCode || null,\n  error: $json.error || null,\n  response: $json.body || $json.data || null,\n};\nif (payload.route === 'error') {\n  console.error('[n8n][sla-breach-alerting][teams]', JSON.stringify(payload));\n} else {\n  console.log('[n8n][sla-breach-alerting][teams]', JSON.stringify(payload));\n}\nreturn [{ json: payload }];"
      },
      "id": "sla-teams-log",
      "name": "Log Teams Delivery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2360,
        440
      ]
    },
    {
      "parameters": {
        "width": 540,
        "height": 250,
        "content": "## Error Handling\nAny failed backend/notification node is routed to this logger branch."
      },
      "id": "sla-note-error",
      "name": "Sticky Error",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const message = {\n  workflow: 'SLA Breach Alerting',\n  when: new Date().toISOString(),\n  error: $json.error || $json,\n};\nconsole.log('[n8n][error]', JSON.stringify(message));\nreturn [{ json: message }];"
      },
      "id": "sla-error-log",
      "name": "Log Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        640
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.ITSM_BASE_URL || 'http://host.docker.internal:8000') + '/api/notifications/system' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Automation-Secret",
              "value": "={{ $env.N8N_INBOUND_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const ticketId = $json.id || $json.ticket_id || 'N/A'; const slaState = String($json.sla_status || 'at_risk').trim(); const severity = slaState === 'breached' ? 'critical' : 'warning'; const eventType = slaState === 'breached' ? 'sla_breached' : 'sla_at_risk'; const title = 'SLA ' + (slaState === 'breached' ? 'Breach' : 'Risk') + ' : ' + ticketId; const body = ($json.title || ('Ticket ' + ticketId)) + ' — SLA ' + slaState + ', priority ' + ($json.priority || 'N/A') + ', assigned to ' + ($json.assignee || 'N/A'); return { title, body, severity, event_type: eventType, user_id: null, source: 'n8n_workflow', link: '/tickets/' + ticketId, dedupe_key: 'sla_' + slaState + '_' + ticketId + '_' + new Date().toISOString().slice(0, 13) }; })() }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "sla-create-notification",
      "name": "Create In-App SLA Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2120,
        280
      ],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Run SLA Sync Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run SLA Sync Batch": {
      "main": [
        [
          {
            "node": "SLA Run Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SLA Run Failed?": {
      "main": [
        [
          {
            "node": "Log Failure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Breached or At-Risk Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Breached or At-Risk Tickets": {
      "main": [
        [
          {
            "node": "Ticket Fetch Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ticket Fetch Failed?": {
      "main": [
        [
          {
            "node": "Log Failure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Ticket Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Ticket Items": {
      "main": [
        [
          {
            "node": "Send SLA Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SLA Email": {
      "main": [
        [
          {
            "node": "Email Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Failed?": {
      "main": [
        [
          {
            "node": "Log Failure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send SLA Teams Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create In-App SLA Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SLA Teams Message": {
      "main": [
        [
          {
            "node": "Log Teams Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "1",
  "id": "workflow_sla_breach_alerting",
  "tags": []
}

