docs/n8n/workflow_critical_ticket_detector.json
{
  "name": "Critical Ticket Detector",
  "nodes": [
    {
      "parameters": {
        "width": 520,
        "height": 180,
        "content": "## Critical Ticket Detector\nPOST /webhook/critical-ticket-detected\nBody minimum: { ticket_id }\nWorkflow fetches ticket details and sends email alert."
      },
      "id": "ctd-note-webhook",
      "name": "Note: Webhook",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        60
      ]
    },
    {
      "parameters": {
        "path": "critical-ticket-detected",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "ctd-webhook",
      "name": "Critical Ticket Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json || {};\nconst ticketId = body.ticket_id || body.id;\nconst traceId = body.trace_id || `ctk-${Date.now()}-${Math.random().toString(36).slice(2, 8)}`;\nconst runId = $execution?.id ? String($execution.id) : `manual-${Date.now()}`;\nif (!ticketId) {\n  return [{ json: { route: 'error', stage: 'validate_inbound', error: 'missing_ticket_id', trace_id: traceId, run_id: runId, raw: body } }];\n}\nreturn [{ json: { route: 'ok', stage: 'validate_inbound', trace_id: traceId, run_id: runId, ticket_id: String(ticketId), inbound_priority: body.priority || 'critical' } }];"
      },
      "id": "ctd-validate",
      "name": "Validate Inbound Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ String($json.route || '').trim() }}",
              "operation": "equals",
              "value2": "ok"
            }
          ]
        }
      },
      "id": "ctd-valid-if",
      "name": "Payload Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        260
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ctd-a1",
              "name": "ticket_id",
              "value": "={{ $json.ticket_id }}",
              "type": "string"
            },
            {
              "id": "ctd-a2",
              "name": "inbound_priority",
              "value": "={{ $json.inbound_priority }}",
              "type": "string"
            },
            {
              "id": "ctd-a3",
              "name": "trace_id",
              "value": "={{ $json.trace_id }}",
              "type": "string"
            },
            {
              "id": "ctd-a4",
              "name": "run_id",
              "value": "={{ $json.run_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ctd-store",
      "name": "Store Inbound Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        260
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ ($env.ITSM_BASE_URL || 'http://host.docker.internal:8000') + '/api/tickets/' + $json.ticket_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Automation-Secret",
              "value": "={{ $env.AUTOMATION_SECRET }}"
            },
            {
              "name": "X-Actor",
              "value": "system:n8n"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "X-Trace-Id",
              "value": "={{ $json.trace_id }}"
            },
            {
              "name": "X-Workflow-Run-Id",
              "value": "={{ $json.run_id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "ctd-fetch-ticket",
      "name": "Fetch Ticket from Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        260
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const ctx = $node['Store Inbound Context'].json;\nconst detail = $json || {};\nif (detail.error || detail.statusCode >= 400) {\n  return [{ json: { route: 'error', stage: 'fetch_ticket', trace_id: ctx.trace_id, run_id: ctx.run_id, error: detail.error || 'ticket_fetch_failed', status: detail.statusCode, ticket_id: ctx.ticket_id } }];\n}\nreturn [{ json: { route: 'ok', stage: 'merge_enriched', trace_id: ctx.trace_id, run_id: ctx.run_id, ticket_id: ctx.ticket_id, title: detail.title || 'Critical Ticket', description: detail.description || detail.summary || 'No details provided.', priority: detail.priority || ctx.inbound_priority || 'critical', status: detail.status || 'open', assignee: detail.assignee || 'Unassigned', reporter: detail.reporter || 'N/A', created_at: detail.created_at || new Date().toISOString(), ticket_url: (($env.FRONTEND_BASE_URL || 'http://localhost:3000') + '/tickets/' + ctx.ticket_id) } }];"
      },
      "id": "ctd-merge",
      "name": "Merge & Validate Ticket",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ String($json.route || '').trim() }}",
              "operation": "equals",
              "value2": "ok"
            }
          ]
        }
      },
      "id": "ctd-enrich-if",
      "name": "Enrichment OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1660,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst priority = String(d.priority || 'critical').toUpperCase();\nconst subject = `[ITSM][CRITICAL] ${priority} - ${d.ticket_id} - ${d.title || 'Critical Ticket'}`;\nconst description = d.description || d.summary || d.body || 'No details provided.';\nconst body = `Critical ticket ${d.ticket_id || 'N/A'} requires immediate attention. The ticket titled \"${d.title || 'N/A'}\" is currently in status \"${d.status || 'open'}\" with priority \"${priority}\", assigned to ${d.assignee || 'Unassigned'} and reported by ${d.reporter || 'N/A'}. Description summary: ${description}. The ticket was created at ${d.created_at || new Date().toISOString()} and can be opened here: ${d.ticket_url || 'N/A'}. Trace reference: ${d.trace_id || 'N/A'}; workflow run: ${d.run_id || 'N/A'}. Source: system:n8n.`;\nreturn [{ json: { ...d, stage: 'build_email', email_subject: subject, email_body: body } }];"
      },
      "id": "ctd-build-email",
      "name": "Build Email Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        260
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM }}",
        "toEmail": "={{ $env.CRITICAL_ALERT_EMAIL_TO || $env.ALERT_DEFAULT_EMAIL || $env.SLA_ALERT_EMAIL_TO }}",
        "subject": "={{ $json.email_subject }}",
        "emailType": "text",
        "message": "={{ $json.email_body }}"
      },
      "id": "ctd-send-email",
      "name": "Send Critical Ticket Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2140,
        260
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$json.error || (!!$json.rejected && $json.rejected.length > 0 && (!$json.accepted || $json.accepted.length === 0)) }}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "ctd-email-failed",
      "name": "Email Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2360,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TEAMS_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => { const ticketId = $json.ticket_id || 'N/A'; const title = $json.title || 'Critical Ticket'; const status = $json.status || 'open'; const priority = String($json.priority || 'critical').toUpperCase(); const assignee = $json.assignee || 'Unassigned'; const slaInfo = $json.sla_status || $json.sla_risk || 'Not available'; const ticketUrl = $json.ticket_url || (($env.FRONTEND_BASE_URL || 'http://localhost:3000') + '/tickets/' + ticketId); const severity = priority === 'CRITICAL' ? 'Critical' : 'High'; const themeColor = severity === 'Critical' ? 'C62828' : 'EF6C00'; return { '@type': 'MessageCard', '@context': 'https://schema.org/extensions', summary: `ITSM critical ticket alert - ${ticketId}`, themeColor, title: `${severity} Ticket Alert`, sections: [{ activityTitle: `${ticketId} - ${title}`, text: `[Open ticket](${ticketUrl})`, facts: [{ name: 'Ticket', value: ticketId }, { name: 'Status', value: status }, { name: 'Priority', value: priority }, { name: 'Assignee', value: assignee }, { name: 'SLA', value: slaInfo }, { name: 'Trace', value: $json.trace_id || 'N/A' }], markdown: true }], potentialAction: [{ '@type': 'OpenUri', 'name': 'Open Ticket', targets: [{ os: 'default', uri: ticketUrl }] }] }; })() }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "ctd-send-teams",
      "name": "Send Teams Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2580,
        180
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const payload = {\n  workflow: 'Critical Ticket Detector',\n  channel: 'teams',\n  timestamp: new Date().toISOString(),\n  route: $json.error ? 'error' : 'ok',\n  status: $json.statusCode || null,\n  error: $json.error || null,\n  response: $json.body || $json.data || null,\n};\nif (payload.route === 'error') {\n  console.error('[n8n][critical-ticket-detector][teams]', JSON.stringify(payload));\n} else {\n  console.log('[n8n][critical-ticket-detector][teams]', JSON.stringify(payload));\n}\nreturn [{ json: payload }];"
      },
      "id": "ctd-log-teams",
      "name": "Log Teams Delivery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        180
      ]
    },
    {
      "parameters": {
        "width": 460,
        "height": 120,
        "content": "## Error Handling\nAny real failure routes here. Success responses are ignored."
      },
      "id": "ctd-note-error",
      "name": "Note: Error",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        760,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = {\n  workflow: 'Critical Ticket Detector',\n  timestamp: new Date().toISOString(),\n  stage: $json.stage || 'unknown',\n  route: 'error',\n  trace_id: $json.trace_id || 'N/A',\n  run_id: $json.run_id || 'N/A',\n  ticket_id: $json.ticket_id || 'N/A',\n  error: $json.error || $json.message || JSON.stringify($json)\n};\nconsole.error('[n8n][critical-ticket-detector][error]', JSON.stringify(payload));\nreturn [{ json: payload }];"
      },
      "id": "ctd-log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.ITSM_BASE_URL || 'http://host.docker.internal:8000') + '/api/notifications/system' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Automation-Secret",
              "value": "={{ $env.AUTOMATION_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { title: 'Ticket critique détecté : ' + $json.ticket_id, body: ($json.title || ('Ticket ' + $json.ticket_id)) + ' — Priorité critique, assigné à ' + ($json.assignee || 'N/A'), severity: 'critical', event_type: 'ticket_created', user_id: null, source: 'n8n_workflow', link: '/tickets/' + $json.ticket_id, dedupe_key: 'critical_ticket_' + $json.ticket_id + '_' + new Date().toISOString().slice(0, 13) } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "ctd-create-notification",
      "name": "Create In-App Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2580,
        260
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const payload = {\n  workflow: 'Critical Ticket Detector',\n  timestamp: new Date().toISOString(),\n  stage: 'email_sent',\n  route: 'ok',\n  trace_id: $json.trace_id || 'N/A',\n  run_id: $json.run_id || 'N/A',\n  ticket_id: $json.ticket_id || 'N/A',\n  email_to: ($env.CRITICAL_ALERT_EMAIL_TO || $env.ALERT_DEFAULT_EMAIL || $env.SLA_ALERT_EMAIL_TO || 'N/A'),\n  message_id: $json.messageId || null\n};\nconsole.log('[n8n][critical-ticket-detector][success]', JSON.stringify(payload));\nreturn [{ json: payload }];"
      },
      "id": "ctd-log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2580,
        360
      ]
    }
  ],
  "connections": {
    "Critical Ticket Webhook": {
      "main": [
        [
          {
            "node": "Validate Inbound Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Inbound Payload": {
      "main": [
        [
          {
            "node": "Payload Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload Valid?": {
      "main": [
        [
          {
            "node": "Store Inbound Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Inbound Context": {
      "main": [
        [
          {
            "node": "Fetch Ticket from Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Ticket from Backend": {
      "main": [
        [
          {
            "node": "Merge & Validate Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge & Validate Ticket": {
      "main": [
        [
          {
            "node": "Enrichment OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrichment OK?": {
      "main": [
        [
          {
            "node": "Build Email Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Content": {
      "main": [
        [
          {
            "node": "Send Critical Ticket Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Critical Ticket Email": {
      "main": [
        [
          {
            "node": "Email Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Failed?": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Teams Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create In-App Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Teams Alert": {
      "main": [
        [
          {
            "node": "Log Teams Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create In-App Notification": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "1",
  "id": "workflow_critical_ticket_detector",
  "tags": [
    "itsm",
    "critical",
    "notifications",
    "email",
    "teams"
  ]
}


